body {
    background: #d17575e4;
    font-family: Arial, sans-serif;
}

.cartao{background: rgb(169, 5, 158);
    width: 280px;
    padding: 5px;
    border: 20px solid #074e9f ;
    margin: 16px;
    box-sizing:border-box;}

.bio{margin-bottom:20px;}
.intereses{
    padding-left: 24px;
    text-align: left;
}

#titulo{color: #2563eb;}

#apresentacao{
    color:#1e293b;
    background: #d15203;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}


body{color: #345533;}
.destaque{background: #fef08a;}
#titulo {font-size: 32px;}
.cartao p {color: #e40c7f;}
.interesses > li {color: #7c3aed}
a[href="#"] {color:#2563eb}

p {color:blue;}
.aviso {color: orange;}
#erro {color: red;}



html {font-size: 16px;}
#titulo { font-size: 2rem;}
.cartao {width: 80%;}
body {min-height: 100vh}
.cartao{border-width: 1px;}